<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1 style="text-align: center">
        ADD A Employee
    </h1>
    <div  class="alert alert-dark" role="alert">
        <p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

    </div>
    <br>
    <form th:action="@{/employees/edit}" method="post">
        <input type="hidden" name="_method" value="put">
        <input
                type="hidden"
                name="employees_id"
                th:value="${emp.getEmployees_id()}"
        >
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="last_name">Last Name:</label>
            <input
                    th:value="${emp.getLast_name()}"
                    type="text"
                    id="last_name"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="last_name"
            >
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="first_name">First Name:</label>
            <input
                    th:value="${emp.getFirst_name()}"
                    type="text"
                    id="first_name"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="first_name">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="email">Email :</label>
            <input
                    th:value="${emp.getEmail()}"
                    type="email"
                    id="email"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="email">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="address">Address :</label>
            <input
                    th:value="${emp.getAddress()}"
                    type="text"
                    id="address"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="address">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="mobile">Mobile :</label>
            <input
                    th:value="${emp.getMobile()}"
                    type="text"
                    id="mobile"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="mobile">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="wechat">Wechat :</label>
            <input
                    th:value="${emp.getWechat()}"
                    type="text"
                    id="wechat"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="wechat">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="departments_id">Departments ID :</label>
            <input
                    th:value="${emp.getDepartments_id()}"
                    type="text"
                    id="departments_id"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="departments_id">
        </div>
        <div style="max-width: 500px;margin: auto; margin-bottom: 10px" class="input-group input-group-lg">
            <label style="width: 150px;line-height: 47.71px; margin:0" for="hire_date">Hire Date :</label>
            <input
                    th:value="${#dates.format(emp.getHire_date(),'yyyy-MM-dd')}"
                    type="date"
                    id="hire_date"
                    class="form-control"
                    aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm"
                    name="hire_date">
        </div>
        <div style="text-align: center;margin-top: 10px">
            <input  style="width: 200px" type="submit" class="btn btn-primary"/>
        </div>
    </form>
    <div style="float: right">
        <a  href="/index" th:href="@{/department}">Back to Department Management page</a>
    </div>
</div>

</body>
</html>