<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1 style="text-align: center">Welcome</h1>
    <div  class="alert alert-dark" role="alert">
        <p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </div>
    <br>
    <div style="text-align: center" id="department" class="alert alert-primary" role="alert">
        <a th:href="@{/department}" class="alert-link">Department Management</a>
    </div>
    <div style="text-align: center" id="employee" class="alert alert-warning" role="alert">
        <a th:href="@{/employees}" class="alert-link">Employees Management</a>
    </div>
    <div style="text-align: center" id="order" class="alert alert-success" role="alert">
        <a th:href="@{/order}" class="alert-link">Order Management</a>
    </div>
</div>

</body>
</html>